#words .active {
  text-decoration: underline;
  color: blue;
}

#words .active.error {
  color: red;
}

#words .error {
  color: #AA0000;
}

#words.finished {
  color: #006600;
}

#letters > div {
  display: inline-block;
  text-align: center;
  vertical-align: center;
}

#letters .letter-enable {
  width: 1.8em;
  height: 1.8em;
  margin: 2px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  vertical-align: center;
}

#letters .letter-accuracy {
  margin: 2px;
}

#letters div.active {
  background-color: #AAAAFF;
}
